{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
    <form class="form-signin" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> I agree to the Terms and Conditions
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Register
        </button>
    </form>
{% endblock %}
