{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('books') }}
{% endblock %}

{% block body %}
    <div id="book-list"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('bookList') }}
{% endblock %}
