/* Book / Notes list */

.book {
  cursor: pointer;
}

.note-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tags-input {
  width: 50%;
}

.editable-text-hidden {
  display: none;
}

.editable-text-active {
  cursor: pointer;
}

.editable-text-input-hidden {
  display: none;
}

.editable-text-input-active {

}