/* Book / Notes list */

.tags-input {
  width: 50%;
}

.editable-text-hidden {
  display: none;
}

.editable-text-active {
  cursor: pointer;
}

.editable-text-input-hidden {
  display: none;
}

.editable-text-input-active {

}